@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Ultimate Bounty Hunter</h1>
    <p class="lead text-center">Choose your faction.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2 class="text-center">Rebel Alliance</h2>
        <p class="text-center"><a id="button-1" class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2 class="text-center">Empire</h2>
        <p class="text-center"><a id="button-2" class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2 class="text-center">Mandalorian</h2>
        <p class="text-center"><a id="button-3" class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2 class="text-center">Stealth Mode</h2>
        <p class="text-center"><a id="button-4" class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go &raquo;</a></p>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $().ready(function () {
        $('#button-1').click(function (ev) {
            ev.preventDefault();
            
            $.ajax({
                method: 'POST',
                url: 'https://api.particle.io/v1/devices/240020001747343338333633/rebel?access_token=861bd910d87220da416009051b37ece22f0e019f&args=stuff',
                data: { args: 'stuff'}
            });
        })

        $('#button-2').click(function (ev) {
            ev.preventDefault();
            $.ajax({
                method: 'POST',
                url: 'https://api.particle.io/v1/devices/240020001747343338333633/empire?access_token=861bd910d87220da416009051b37ece22f0e019f&args=stuff',
                data: { args: 'stuff' }
            });
        })

        $('#button-3').click(function (ev) {
            ev.preventDefault();
            $.ajax({
                method: 'POST',
                url: 'https://api.particle.io/v1/devices/240020001747343338333633/mandalorian?access_token=861bd910d87220da416009051b37ece22f0e019f&args=stuff',
                data: { args: 'stuff' }
            });
        })

        $('#button-4').click(function (ev) {
            ev.preventDefault();
            $.ajax({
                method: 'POST',
                url: 'https://api.particle.io/v1/devices/240020001747343338333633/clearbadge?access_token=861bd910d87220da416009051b37ece22f0e019f&args=stuff',
                data: { args: 'stuff' }
            });
        })
    });
</script>
}